html,
body {
    height: 100%;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgba(30, 255, 0, 0.185);
}

button {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-decoration: none;
    background-color: none;
    font-size: .9em;
    border-radius: 3px;
}

h1 h2 {
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 255, 0, 0.185);
}

nav>a {
    text-decoration: none;
    color: green;
    font-weight: 800;
    font-size: 32px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: green;
}


/* cabeçalho */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: none;
    text-align: center;
    padding: 20px;
}

header p {
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: rgba(2, 117, 8, 0.637);
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre.button {
    color: none;
}

#serviço {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: rgba(2, 117, 8, 0.637);
}

#serviço  p {
    margin-bottom: 2.5em;
    max-width: 1000px;
    margin: 0 auto;
}


#insira {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    text-align: center;
    margin-top: none;
    background-color: rgba(2, 117, 8, 0.637);
}

#foto>img {
    justify-content: flex;
}

#foto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}

#foto h2 {
    margin-bottom: 20px;
}

#foto img {
    width: 100%;
}

#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.rodape {
    flex-shrink: 0;
    text-align: center;
    padding: 30px;
    background-color: rgb(30, 255, 0, 0.185);
    color: green;
}

#footer a {
    text-align: center;
    text-decoration: none;
    color: none;
    position: fixed;
    text-align: center;
}

img {
    border-radius: 30px;
    max-width: 500px;
    max-height: 200px;
}

.logo {
    border-radius: 15px;
    max-width: 250px;
    max-height: 150px;
}

.fundo {
    background: url("../static/imagens/fazenda-2.png") no-repeat;
    background-size: 100% 100%;
    filter: alpha(opacity=50);
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}
#div_bloco01 {
    display: flex;
    justify-content: center;
    
}
#div_bloco01 > img {
    padding: 5px;
    transition: all 0.4s;
}
#div_bloco02 {
    display: flex;
    justify-content: center;
}
#div_bloco02 > img {
    padding: 5px;
    transition: all 0.4s;
}
#div_bloco01 img:hover {
    transform: scale(1.3);
}
#div_bloco02 img:hover {
    transform: scale(1.3);
}

@media screen and (min-width: 700px) {
    /*nav*/
    nav {
        flex-direction: row;
        justify-content: space-around;
    }
    nav ul li a {
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-width: 250px;
    }
    #serviço {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 10000px;
        margin: 0 auto;
    }
    #serviço h2 {
        text-align: center;
        width: 100%;
    }
    #serviço div {
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0px 10px;
    }
    #foto {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #foto h2 {
        width: 100%;
        text-align: center;
    }
    #foto img {
        width: 33.3333333%;
    }
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2,
    contato p {
        width: 100%;
    }
}