html,
body {
    height: 100%;
}
body {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 155, 21);
    background-color: rgba(30, 255, 0, 0.185);
    letter-spacing: 1.3px;
}
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 255, 0, 0.185);
}

nav > a {
    text-decoration: none;
    color: green;
    font-weight: 800;
    font-size: 32px;
    padding: 15px;
}

nav>ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;  
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    font-size: 18px;
    width: 100%;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: none;
    text-align: center;
    padding: 20px;
}
header > h1 {
    color: green;
    font-weight: bolder;
}
header > p {
    padding-top: 2px;
    margin: 1px;
    color:black;
    text-align: left;
}
#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contatos > h2 {
    color: green;
    font-weight: bolder;
}
#contatos > p {
    color:black;
}
.rodape {
    flex-shrink: 0;
    text-align: center;
    padding: 30px;
    background-color: rgb(30, 255, 0, 0.185);
    color: green;
}
#footer a {
    text-align: center;
    text-decoration: none;
    color: none;
    position: fixed;
    text-align: center;
}

.logo {
    border-radius: 15px;
    max-width: 250px;
    max-height: 150px;
}

@media screen and (min-width: 700px) {
    nav {
        flex-direction: row;
        justify-content: space-around;
        background-color: rgb(30, 255, 0, 0.185);
    }
    nav ul li a {
        flex-direction: row;
        width: 70%;
    }
    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contato h2,
    contato p {
        width: 100%;
    }
}