<!DOCTYPE html>
<html lang="pt-br">

<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');
    </style>
    <link href="static/css/normalize.css" rel="stylesheet">
    <link href="static/css/resultado.css" rel="stylesheet">

    <title>COFFEE RUST DETECTOR</title>
    <meta charset="utf-8">

</head>

<body>
    <nav>
        <a href="/"><img src="static/imagens/logo.jpeg" alt="logo do rust detector" class="logo" ></a>
        <ul>
            <li><a href="#sobre">Sobre</a></li>
            <li><a href="#serviço">Serviço</a></li>
            <li><a href="#foto">Foto</a></li>
            <li><a href="#contatos">Contato</a></li>
        </ul>
    </nav>
    <br>
    <header id="topo"> 
        <h1> Resultado do identificador: <span> {{ result }} </span></h1>
        <p> {{ text }} </p>
    </header>

    <section id="contatos">
        <h2>Contate-nos</h2>
        <p>
            Por favor, entre em contato quando precisar, estamos a disposição.<br/> e-mail: coffee.rust@gmail.com<br> telefone: (14) 3451-9215
        </p>
    </section>
    <footer class="rodape">
        <a href="/">Voltar</a>
    </footer>
</body>

</html>